.playbar {
    height: 7rem;
}

.centerdiv {
    margin-top: 2.5rem;
}

.volslider {
    accent-color: white
}

input[type="range"] {
    --range-progress: 0%;
    /* ... */
}
  
input[type="range"]::before {
    /* ... */
    background: #f50;
    width: var(--range-progress);
    /* ... */
}

.putBotdiv {
    flex-wrap: auto;
    margin-top: 5rem;
}

